 .Ueberschrift {
    position: relative;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    transform: translate(-50%, -50%);
}
/* Regenbogen Wellenanimation der Überschrift*/
.Ueberschrift, h1 {
    left: 25%;
    position: relative;
    justify-content: center;
    align-items: center;
    font-size: 45px;
    color: white;
    background: repeating-linear-gradient(-45deg, red 0%, yellow 7.14%, rgb(0, 255, 0) 14.28%,rgb(0, 255, 255) 21.4%, cyan 28.56%, blue 35.7%, magenta 42.84%, red 50%);
    background-size: 600vw 600vw;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    animation: slide 8s linear infinite forwards;
                }
    
    @keyframes slide{
      0%{
        background-position-x: 0%;
      }  

      100%{
        background-position-x: 600vw;
      }  
    }

h2{
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.btn {
    background-color: #23D5AB;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 5px;
    color: #ffffff;
    display: inline-block;
    font-size: 1.3em;
    font-weight: bold;
    padding: .7em 2em;
    text-align: center;
    text-decoration: none;
  }
/*Button mit Schimmereffekt*/
  .btn--shimmer {
    animation: shimmer 3s linear infinite;
    background-image: linear-gradient(-70deg, 
      rgba(255,255,255,0) 46%, 
      rgba(255,255,255,.8) 50%, 
      rgba(255,255,255,.8) 52%, 
      rgba(255,255,255,0) 56%
    );
    background-size: 400% 100%;
  }

  @keyframes shimmer{
    0% {
      background-position: 100% 50%;
    }
    30% {
      background-position: 0% 50%;
    }
  }
/*Alle Kästchen der Sprachen bekommen dieses Layout*/
.Language {
    left: 8%;
    position: relative;
    width: 500px;
    height: 410px;
    margin: 30px;
    display: block;
    padding: 50px 50px 50px 50px;
    float: left;
    border-style: solid;
    border-width: 5px;
}

.Language, h1
{
    position: relative;
    text-align: center;
}

.Language, p
{
    position: relative;
    text-align: left;
}

/* Light mode */
@media (prefers-color-scheme: light) {
    body {
        background-color: white;
        color: black;
    }
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
    body {
        background-color: #1c1c1c;
        color: white;
    }

    h1 {
        color: white;
    }
}
/*Drucklayout*/
@media print{
.Ueberschrift, h1{
    color: black;
    font-size: x-large;
}

.btn{
    display: none;
}

embed{
    display: none;
}

.Language{
  border: none;
  margin: 0%;
  padding: 0%;
  left: 0%;
}
}
/*Zoom wenn man über die gewünschet Sprache hovert*/
.Language:hover{
    /*Zoomstärke*/
    transform: scale(1.2);
}

@media (max-width: 1370px) { 
.Language{
    width: 60%;
}
}

@media (max-width: 852px) { 
    .Language{
        width: 100%;
        left: 0px;
        margin-left: 0px;
    }

    .Language:hover{
        /*Zoomstärke*/
        transform: scale(1);
    }
    }
